
.container{
  width: 100%;
  max-width: 1296px;
  margin: 2vh auto 3vh;
  padding: 0 24px;
}

.highlighted{
  padding: 15px;
  border-radius: 10px;
  background-color: var(--accent-color);
  color: whitesmoke;
}

.banner{
  overflow: hidden;
}

.banner img{
  width: 100%;
  border-radius: 10px;
}